section.about#about
  .container
    .row.align-items-center
      .about__part.col-lg-6
        .number 01.
        p
          b «Engineering Construction Pro» 
          | и 
          b «Equipment Pro» 
          | - это сплав опыта, практики, инновационных технических решений, современного менеджмента и маркетинга.
        strong Участие наших специалистов в реализации крупнейших проектов, таких, как:
        ul
          li
            a(href="#") Кумтор
          li
            a(href="#") Бозымчак
          li
            a(href="#") Камбарата-2
      .about__part.col-lg-6
        .bg
        h1 О НАС
        p Компании «Engineering Construction Pro» и «Equipment Pro» созданы в 2019 году командой амбициозных и опытных профессионалов. Сплав молодости и опыта ее участников позволяет решать самые сложные технические задачи и находить оригинальные и эффективные пути их воплощения.

        p Производственная база компаний размещается на территории ОАО «Бишкекский опытно-эксперементальный механический завод» (БОЭМЗ) в восточной промышленной зоне города Бишкек. Компании располагают обширной базой металлообрабатывающих станков и оборудования. Технический и человеческий потенциал нашей команды позволяет быстро и эффективно решать сложные и нестандартные технологические  задачи.

        p Наши специалисты разрабатывают проектно-техническую  документацию, а также документацию, регламентирующую технологические процессы.

        p Имеются возможности  осуществления замкнутого цикла производства с выдачей качественной конечной продукции, отвечающей всем требованиям ГОСТ.
