section.contacts#contacts
  .container-fluid
    .row.align-items-center
      .col-md-6.p-0
        .contacts__map.
          <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aef2db7c87e1cd9c7f92c16fc8e6d03399f46d2380eef12d97a0b3c04ee6a5a3a&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
      .col-md-6
        .contacts__text
          h1.mb-4 контакты
          ul.contacts__links
            li
              b Адрес: 
              | Кыргызская Республика, г. Бишкек, <br> ул. Чокана Валиханова, 2
            li
              b Телефон: 
              a(href="tel:+7996773090091") +7-996-773-090-091; 
              a(href="tel:+7996999090091") +7-996-999-090-091;
            li
              b Почта: 
              a(href="mailto:ecprokg@gmail.com") ecprokg@gmail.com