section.gallery#gallery
  h1 Галерея
  .container.mb-4
    p Прокрутите карусель, чтобы увидеть все работы, которые мы выполняем!
  .gallery__slider
    .gallery__slide
      a(href="/static/images/content/gallery1/1.png", style="background-image: url('/static/images/content/gallery1/1.png');")
    .gallery__slide
      a(href="/static/images/content/gallery1/2.png", style="background-image: url('/static/images/content/gallery1/2.png');")
    .gallery__slide
      a(href="/static/images/content/gallery1/3.png", style="background-image: url('/static/images/content/gallery1/3.png');")
    .gallery__slide
      a(href="/static/images/content/gallery1/4.jpg", style="background-image: url('/static/images/content/gallery1/4.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/5.jpg", style="background-image: url('/static/images/content/gallery1/5.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/6.jpg", style="background-image: url('/static/images/content/gallery1/6.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/7.jpg", style="background-image: url('/static/images/content/gallery1/7.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/8.jpg", style="background-image: url('/static/images/content/gallery1/8.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/9.jpg", style="background-image: url('/static/images/content/gallery1/9.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/10.jpg", style="background-image: url('/static/images/content/gallery1/10.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/12.jpg", style="background-image: url('/static/images/content/gallery1/12.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/13.jpg", style="background-image: url('/static/images/content/gallery1/13.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/14.jpg", style="background-image: url('/static/images/content/gallery1/14.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/15.jpg", style="background-image: url('/static/images/content/gallery1/15.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/16.jpg", style="background-image: url('/static/images/content/gallery1/16.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/19.jpg", style="background-image: url('/static/images/content/gallery1/19.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/20.jpg", style="background-image: url('/static/images/content/gallery1/20.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/28.jpg", style="background-image: url('/static/images/content/gallery1/28.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/29.jpg", style="background-image: url('/static/images/content/gallery1/29.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/30.jpg", style="background-image: url('/static/images/content/gallery1/30.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/31.jpg", style="background-image: url('/static/images/content/gallery1/31.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/32.jpg", style="background-image: url('/static/images/content/gallery1/32.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/34.jpg", style="background-image: url('/static/images/content/gallery1/34.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/35.jpg", style="background-image: url('/static/images/content/gallery1/35.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/36.jpg", style="background-image: url('/static/images/content/gallery1/36.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/37.jpg", style="background-image: url('/static/images/content/gallery1/37.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/38.jpg", style="background-image: url('/static/images/content/gallery1/38.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/39.jpg", style="background-image: url('/static/images/content/gallery1/39.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/40.jpg", style="background-image: url('/static/images/content/gallery1/40.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/41.jpg", style="background-image: url('/static/images/content/gallery1/41.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/42.jpg", style="background-image: url('/static/images/content/gallery1/42.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/43.jpg", style="background-image: url('/static/images/content/gallery1/43.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/44.jpg", style="background-image: url('/static/images/content/gallery1/44.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/45.jpg", style="background-image: url('/static/images/content/gallery1/45.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/46.jpg", style="background-image: url('/static/images/content/gallery1/46.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/47.jpg", style="background-image: url('/static/images/content/gallery1/47.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/48.jpg", style="background-image: url('/static/images/content/gallery1/48.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/49.jpg", style="background-image: url('/static/images/content/gallery1/49.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/51.jpg", style="background-image: url('/static/images/content/gallery1/51.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/52.jpg", style="background-image: url('/static/images/content/gallery1/52.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/53.jpg", style="background-image: url('/static/images/content/gallery1/53.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/54.jpg", style="background-image: url('/static/images/content/gallery1/54.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/55.jpg", style="background-image: url('/static/images/content/gallery1/55.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/56.jpg", style="background-image: url('/static/images/content/gallery1/56.png');")
    .gallery__slide
      a(href="/static/images/content/gallery1/57.jpg", style="background-image: url('/static/images/content/gallery1/57.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/58.jpg", style="background-image: url('/static/images/content/gallery1/58.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/59.jpg", style="background-image: url('/static/images/content/gallery1/59.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery1/60.jpg", style="background-image: url('/static/images/content/gallery1/60.jpg');")
  .container.mb-4
    strong Проектирование
  .gallery__slider
    .gallery__slide
      a(href="/static/images/content/gallery2/1.png", style="background-image: url('/static/images/content/gallery2/1.png');")
    .gallery__slide
      a(href="/static/images/content/gallery2/2.png", style="background-image: url('/static/images/content/gallery2/2.png');")
    .gallery__slide
      a(href="/static/images/content/gallery2/3.png", style="background-image: url('/static/images/content/gallery2/3.png');")
    .gallery__slide
      a(href="/static/images/content/gallery2/8.jpg", style="background-image: url('/static/images/content/gallery2/8.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery2/9.jpg", style="background-image: url('/static/images/content/gallery2/9.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery2/10.jpg", style="background-image: url('/static/images/content/gallery2/10.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery2/11.jpg", style="background-image: url('/static/images/content/gallery2/11.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery2/12.jpg", style="background-image: url('/static/images/content/gallery2/12.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery2/14.jpg", style="background-image: url('/static/images/content/gallery2/14.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery2/15.jpg", style="background-image: url('/static/images/content/gallery2/15.jpg');")
    .gallery__slide
      a(href="/static/images/content/gallery2/15.jpg", style="background-image: url('/static/images/content/gallery2/16.jpg');")