main.main
  include header
  .main__content
    .bg(style="background-image: url('/static/images/general/main-bg.jpg');")
    .container.d-flex.justify-content-end
      .main__text-w
        .main__text
          h1 Engineering Construction Pro / <br> Equipment Pro
          ul
            li Производство, изготовление и ремонт промышленного, технологического оборудования
            li Изготовление конструкций и емкостей из металла
            li Проектирование
          a.main__btn.btn-bg.js-scroll(href="#more") Подробнее
        .main__contacts
          a(href="tel:+7996773090091") +7-996-773-090-091
          a(href="tel:+7996999090091") +7-996-999-090-091