section.more#more
  .container
    .row.align-items-center
      .col-md-7
        .more__text
          .bg
          h1 О сотрудничестве <br> с нами
          p Мы рады сотрудничеству, независимо от объема Ваших потребностей в нашей продукции. Изготовить кормовую дробилку для фермера или  реставрировать цистерну бензовоза для частного предпринимателя для нас также важно, как и производство  промышленных и технологических  комплексов для крупных компаний и корпораций. В любом случае мы руководствуемся тремя принципами - 
            b компетентность, эффективность и качество.

          p Компетентность в поиске и принятии решений. Эффективность в реализации оптимальных решений. Качество в производимых услугах и продукции.

          p Не секрет, что мы заинтересованы в долгосрочных партнерских отношениях. Квалификация наших специалистов и наш технический потенциал позволяет обеспечивать техническое обслуживание сложных в технологическом плане предприятий, в том числе горнорудной промышленности. 
          
          .text-right
            a(href="#", target="_blank").more__btn Узнать больше
      .col-md-5
        .more__action
          h1.mb-4 Желаете узнать больше о сотрудничестве с нами?
          p.mb-4 Скачайте Word-документ, где более подробно расписаны условия о долгосрочном сотрудничестве и почему с нами выгодно!
          .text-center
            a.more__word.btn-bg(href="#", target="_blank") MS Word