section.partners
  h1 Наши партнеры
  .container
    p.partners__descr Компании «Engineering Construction Pro» и «Equipment Pro» являются партнерами и дилерами Компаний, занимающих ведущие позиции на рынке производства индустриального оборудования.

    .row
      .col-lg-6
        .partners__item
          a(href="#")
            img.shadow(src="/static/images/content/partners/1.png", alt=" ")
          p
            b GELEN MAKINA A.S. 
            | – компания, производящая горнодобывающую, дорожную, строительную технику и оборудование.
      .col-lg-6
        .partners__item
          a(href="#")
            img.shadow(src="/static/images/content/partners/2.png", alt=" ")
          p
            b АО «АЛТАЙСТРОЙМАШ» 
            | - завод строительного машиностроения.
      .col-lg-6
        .partners__item
          a(href="#")
            img.shadow(src="/static/images/content/partners/3.png", alt=" ")
          p
            b Компания «PROM A-URAL» 
            | - производство оборудования для автоматизации производства.
      .col-lg-6
        .partners__item
          a(href="#")
            img.shadow(src="/static/images/content/partners/4.png", alt=" ")
          p
            b ДИОКСИД 
            | – компания, производящая криогенное и углекислотное оборудование и технические газы.