section.services#services
  .bg(style="background-image: url('/static/images/general/services-bg.png');")
  .container
    .row
      .col-lg-6
        h1 Наши услуги
        p.services__sub «Engineering Construction Pro» предлагает такие <br> виды обработки металла, как:
        ul.services__list
          li
            img(src="/static/images/content/services/1.png", alt="")
            span Токарные работы
          li
            img(src="/static/images/content/services/2.png", alt="")
            span Фрезурные работы
          li
            img(src="/static/images/content/services/3.png", alt="")
            span Зубофрезерные работы
          li
            img(src="/static/images/content/services/4.png", alt="")
            span Координатные
          li
            img(src="/static/images/content/services/5.png", alt="")
            span Расточные работы
          li
            img(src="/static/images/content/services/6.png", alt="")
            span Заточные
          li
            img(src="/static/images/content/services/7.png", alt="")
            span  Шлифовальные
      .col-lg-6
        .services__text-w
          .services__text
            .number 02.
            p Компания 
              b «Equipment Pro» 
              | - специализируется на  выпуске, ремонте и обслуживании промышленного и технологического оборудования. Среди наших нынешних и потенциальных Заказчиков предприятия горнорудной промышленности, предприятия малого и среднего бизнеса, фермерские хозяйства.
            p Специализацией компании 
              b «Engineering Construction Pro» 
              | является изготовление конструкций и емкостей из металла любой сложности.
        ul.services__list
          li
            img(src="/static/images/content/services/8.png", alt="")
            span Термо обработка
          li
            img(src="/static/images/content/services/9.png", alt="")
            span Гальваника
          li
            img(src="/static/images/content/services/10.png", alt="")
            span Плазменная резка
      p.col-12.services__note Наряду с этим, выполняются все виды 
        b сварочных работ 
        | , а именно:
      .col-12
        .row
          .col-sm-6.col-md-4.col-lg-3
            .services__welding
              img(src="/static/images/content/welding/1.png", alt=" ")
              p Газовая
          .col-sm-6.col-md-4.col-lg-3
            .services__welding
              img(src="/static/images/content/welding/2.png", alt=" ")
              p Электродуговая
          .col-sm-6.col-md-4.col-lg-3
            .services__welding
              img(src="/static/images/content/welding/3.png", alt=" ")
              p Полуавтоматическая
          .col-sm-6.col-md-4.col-lg-3
            .services__welding
              img(src="/static/images/content/welding/4.png", alt=" ")
              p Аргонно-дуговая