section.team#team
  h1 Наши специалисты
  .container
    .team__descr.row.mb-5
      .col-md-4.d-none.d-md-block
        img.w-100(src="/static/images/content/team-icon.svg", alt="")
      .col-md-8
        p Костяк нашей команды составляют высококлассные инженеры и мастера станочники. Идея создания компании, объединяющей опытных профессионалов и молодых, талантливых специалистов зародилась и была воплощена благодаря энтузиазму и энергии неравнодушных к индустриальному развитию нашей республики людей.

        strong.d-block Основными критериями при создании команды являлись:  
        
        ul
          li - профессионализм;
          li - честность;
          li - порядочность;

        p Реализация многочисленных проектов самого разного диапазона показали наличие мощного технологического потенциала и дало толчок к  созданию  компаний и дальнейшей работе под новыми брендами. 

        p В Кыргызской Республике мы отлично знакомы с коньюнктурой и особенностями рынка  и поэтому можем ответственно заявить, что, мало кто может предоставить подобный диапазон предлагаемых услуг. Важно, что 
          b мы принимаем во внимание цены, скорость и качество выполняемых работ и конечной продукции. 
    .row.mb-3.mb-md-5
      .col-md-6.col-lg-3.mb-3.mb-lg-0
        .team__feature
          img(src="/static/images/content/features/1.png", alt="")
          h3 Многолетний опыт
      .col-md-6.col-lg-3.mb-3.m-lg-0
        .team__feature
          img(src="/static/images/content/features/2.png", alt="")
          h3 Надежные специалисты
      .col-md-6.col-lg-3.mb-3.m-lg-0
        .team__feature
          img(src="/static/images/content/features/3.png", alt="")
          h3 Исполнение заказов в сроки
      .col-md-6.col-lg-3.mb-3.m-lg-0
        .team__feature
          img(src="/static/images/content/features/4.png", alt="")
          h3 Соотношение цены и качества
    p.team__quote.mb-3.mb-md-5 Наши проектировщики работают в программе Auto CAD и Invertor, что позволяет выполнять чертежи и расчеты на максимально высоком технологическом уровне. Мы изготавливаем рабочие проекты, в том числе, часть  КМ (Конструкции металлические) и КМД (Конструкции металлические деталировка), монтажные и установочные схемы к изготавливаемым нами технологическим линиям и комплексам.
    .text-center
      a.team__btn.btn-bg.js-scroll(href="#contacts") Связаться с нами