// Colors
$white: #ffffff;
$black: #000000;
$black2: #020202;
$red: #510900;
$red-btn: #510900;
$yellow: #e8a33d;
$gray: #dfdfdf;

// Sizes
$base-font-size: 16;

// Fonts
$montserrat: 'Montserrat', sans-serif;
$georgia: 'Georgia', sans-serif;
$century751: 'Century751 No2 BT', sans-serif;